#loginBtn:hover i{
	color:#ff9a05;
}

/*----- SEARCH BAR -------*/
.input-group.md-form.form-sm.form-2 input {
   border: 1px solid #bdbdbd;
   border-top-left-radius: 0.25rem;
   border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.red-border {
   border-radius: 20px 0 0 20px;
}
.border-r-tbr-icon-search {
	border-radius: 0 20px 20px 0;
}

.logo{
	color: white !important;
	font-weight: xx-large !important;
}

.container-libri{
   width: 100%;
   min-height: calc(100vh - 85px);
   display: flex;
   justify-content: space-evenly;
   align-items: start;
   flex-wrap: wrap;
   padding: 95px 25px 65px;
   text-align: center;
}

.container-libri a{
   width: 25vw;
   max-width: 250px;
   margin: 25px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.container-libri .cnt-img{
   height: 220px;
   display: flex;
   margin-bottom: 15px;

}
.container-libri a h4{
   font-size: 21px;
}
.container-libri a .cnt-img img{
   height: 100%;
}

.container-libri a:hover{
   transform: scale(1.1);
}

@media (max-width: 769px){

   .container-libri a h4{
      font-size: 19px;
   }
   .container-libri a h6{
      
   }

}

@media (max-width: 569px){
   .container-libri a{
      width: 34vw;
   }
}